.Content {
    border: 1px solid grey;
    margin-bottom: 10px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.Image {
    max-height: 300px;
    border-radius: 8px 8px 0 0 ;
}

.ContentInfo {
    padding: 10px;
}

.Text {
    padding: 2px;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
}

.ContentHeader {
    font-weight: bold;
}

.ContentLink {
    font-size: 14px;
    font-weight: bold;
    color: grey;
}