.Card {
    height: 100%;
    min-height: 300px;
    width: 100%;
    max-width: 500px;
    background-color: orange;

    display: flex;
    flex-direction: column;
}
/*/////////////// HEADER ///////////////////*/
.Header {
    height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AccountInfoContainer {
    height: 100%;
    width: 200px;
    background-color: yellow;

    display: flex;
}

.Icon {
    min-height: 60px;
    min-width: 60px;
    background-color: navajowhite;
}

.InfoContainer {
    width: 100%;
    height: 100%;
    background-color: red;
}

.UserName {
    height: 50%;
    width: 100%;
    background-color: greenyellow;
}

.AtUserName {
    height: 50%;
    width: 100%;
    background-color: cadetblue;
}

.Logo {
    height: 36px;
    width: 36px;
    background-color: greenyellow;
}
/*/////////////// HEADER ///////////////////*/
/*/////////////// HEADER1 ///////////////////*/

.Header1 {
    height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AccountInfoContainer1 {
    height: 100%;
    width: 200px;
    background-color: yellow;

    display: flex;
}

.Icon1 {
    min-height: 60px;
    min-width: 60px;
    background-color: navajowhite;
}

.InfoContainer1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.UserName1 {
    width: 100%;

    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

}

.AtUserName1 {
    width: 100%;

    font-family: Roboto;
    font-size: 16px;
    text-align: left;

}

.Logo1 {
    height: 36px;
    width: 36px;
    background-color: greenyellow;
}
/*/////////////// HEADER1 ///////////////////*/
/*/////////////// HEADER2 ///////////////////*/

.Header2 {
    height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AccountInfoContainer2 {
    height: 100%;
    width: 200px;
    background-color: yellow;

    display: flex;
}

.Icon2 {
    min-height: 60px;
    min-width: 60px;
    margin-right: 15px;
}

.InfoContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.UserName2 {
    width: 100%;

    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

}

.AtUserName2 {
    width: 100%;

    font-family: Roboto;
    font-size: 16px;
    text-align: left;

}

.Logo2 {
    height: 24px;
    width: 24px;
}
/*/////////////// HEADER2 ///////////////////*/
/*/////////////// HEADER3 ///////////////////*/

.Header3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AccountInfoContainer3 {
    display: flex;
}

.Icon3 {
    min-height: 60px;
    min-width: 60px;
    margin-right: 15px;
}

.InfoContainer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.UserName3 {
    width: 100%;

    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

}

.AtUserName3 {
    width: 100%;

    font-family: Roboto;
    font-size: 16px;
    text-align: left;
}

.Logo3 {
    height: 24px;
    width: 24px;
}
/*/////////////// HEADER3 ///////////////////*/
/*/////////////// SUBHEADER ///////////////////*/
.SubHeaderContainer {
    min-height: 80px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Text {
    height: 60px;
    width: 100%;
    background-color: orange;
}
.Link {
    height: 50px;
    width: 100%;
    background-color: purple;
}
/*/////////////// SUBHEADER ///////////////////*/
/*/////////////// SUBHEADER1 ///////////////////*/

.SubHeaderContainer1 {
    min-height: 80px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Text1 {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
}
.Link1 {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: blue;
    text-decoration-line: underline;
}
/*/////////////// SUBHEADER1 ///////////////////*/
/*/////////////// SUBHEADER2 ///////////////////*/

.SubHeaderContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Text2 {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
}
.Link2 {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: blue;
    text-decoration-line: underline;
}
/*/////////////// SUBHEADER2 ///////////////////*/
/*/////////////// CONTENT ///////////////////*/

.ContentContainer {
    min-height: 150px;
    width: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
}

.Image {
    height: 150px;
    background-color: aqua;
}

.ContentInfoContainer {
    height: 100%;
    min-height: 30px;
    background-color: magenta;
}

.ContentHeader {
    height: 100%;
    min-height: 30px;
    background-color: darkslategray;
}

.ContentText {
    height: 100%;
    min-height: 30px;
    background-color: orange;
}

.ContentLink {
    height: 100%;
    min-height: 30px;
    background-color: palegreen;
}
/*/////////////// CONTENT ///////////////////*/
/*/////////////// CONTENT1 ///////////////////*/

.ContentContainer1 {
    min-height: 150px;
    width: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
}

.Image1 {
    height: 150px;
    background-color: aqua;
}

.ContentInfoContainer1 {
    height: 100%;
    min-height: 30px;
    background-color: magenta;
}

.ContentHeader1 {
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;

}

.ContentText1 {
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
}

.ContentLink1 {
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: grey;

}
/*/////////////// CONTENT1 ///////////////////*/
/*/////////////// CONTENT2 ///////////////////*/

.ContentContainer2 {
    display: flex;
    flex-direction: column;
}

.Image2 {
    max-width: 400px;
}

.ContentInfoContainer2 {
}

.ContentHeader2 {
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;

}

.ContentText2 {
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
}

.ContentLink2 {
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: grey;

}
/*/////////////// CONTENT2 ///////////////////*/
/*/////////////// CONTENT3 ///////////////////*/

.ContentContainer3 {
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.Image3 {
    max-height: 300px;
}

.ContentInfoContainer3 {
    padding: 10px;
}

.ContentHeader3 {
    padding: 2px;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;

}

.ContentText3 {
    padding: 2px;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
}

.ContentLink3 {
    padding: 2px;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: grey;

}
/*/////////////// CONTENT3 ///////////////////*/
/*/////////////// SUBCONTENT ///////////////////*/

.SubContentContainer {
    width: 100%;
    min-height: 60px;
    background-color: purple;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MetadataContainer {
    height: 48px;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    background-color: palegreen;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes {
    height: 40px;
    width: 70px;
    background-color: orange;
}

.Date {
    height:30px;
    width: 120px;
    background-color: blue;
    margin-left: 15px;
}

.InfoIcon {
    height: 24px;
    width: 24px;
    background-color: aliceblue;
}
/*/////////////// SUBCONTENT ///////////////////*/
/*/////////////// SUBCONTENT1 ///////////////////*/


.SubContentContainer1 {
    width: 100%;
    min-height: 60px;
    background-color: purple;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MetadataContainer1 {
    min-width: 100px;
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes1 {
    height: 40px;
    width: 40px;
}

.Date1 {
    height:30px;
    width: 120px;
    background-color: blue;
    margin-left: 15px;
}

.InfoIcon1 {
    height: 24px;
    width: 24px;
}
/*/////////////// SUBCONTENT1 ///////////////////*/
/*/////////////// SUBCONTENT2 ///////////////////*/

.SubContentContainer2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MetadataContainer2 {
    min-width: 100px;
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes2 {
    height: 40px;
    width: 40px;
}

.Date2 {
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    color: grey;
    margin-left: 15px;
}

.InfoIcon2 {
    height: 24px;
    width: 24px;
}
/*/////////////// SUBCONTENT2 ///////////////////*/
/*/////////////// FOOTER ///////////////////*/

.Footer {
    height: 48px;
    width: 100%;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfo {
    height: 36px;
    width: 140px;
    background-color: darkslategray;
}

.NextBTN {
    height: 24px;
    width: 24px;
    background-color: purple;
}
/*/////////////// FOOTER ///////////////////*/
/*/////////////// FOOTER1 ///////////////////*/

.Footer1 {
    height: 48px;
    width: 100%;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfo1 {
    height: 36px;
    width: 36px;
}

.NextBTN1 {
    height: 24px;
    width: 24px;
}
/*/////////////// FOOTER1 ///////////////////*/
/*/////////////// FOOTER2 ///////////////////*/

.Footer2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfoContainer {
    display: flex;
    align-items: center;
}

.ExtraInfoIcon {
    height: 36px;
    width: 36px;
}

.ExtraInfoTxt {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

.NextBTN2 {
    height: 24px;
    width: 24px;
}
/*/////////////// FOOTER2 ///////////////////*/
/*/////////////// Elements Positioning ///////////////////*/

.MarginBottom {
    margin-bottom: 10px;
}

/*/////////////// Elements Positioning ///////////////////*/
/*/////////////// Card's Final Styling ///////////////////*/
.FinalStyle {
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: unset;
}
/*/////////////// Card's Final Styling ///////////////////*/


.Separator {
    margin: 20px 0;
    width: 100%;
}