.Card {
    height: 100%;
    min-height: 300px;
    max-height: 600px;
    width: 100%;
    max-width: 500px;
    background-color: orange;

    display: flex;
    flex-direction: column;
}
/*/////////////// HEADER ///////////////////*/
.Header {
    height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AccountInfoContainer {
    height: 100%;
    width: 200px;
    background-color: yellow;

    display: flex;
}

.Icon {
    min-height: 60px;
    min-width: 60px;
    background-color: navajowhite;
}

.InfoContainer {
    width: 100%;
    height: 100%;
    background-color: red;
}

.UserName {
    height: 50%;
    width: 100%;
    background-color: greenyellow;
}

.AtUserName {
    height: 50%;
    width: 100%;
    background-color: cadetblue;
}

.Logo {
    height: 36px;
    width: 36px;
    background-color: greenyellow;
}
/*/////////////// HEADER ///////////////////*/
/*/////////////// SUBHEADER ///////////////////*/
.SubHeaderContainer {
    min-height: 80px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.Text {
    height: 60px;
    width: 100%;
    background-color: orange;
}
.Link {
    height: 50px;
    width: 100%;
    background-color: purple;
}
/*/////////////// SUBHEADER ///////////////////*/
/*/////////////// CONTENT ///////////////////*/

.ContentContainer {
    min-height: 150px;
    width: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
}

.Image {
    height: 150px;
    background-color: aqua;
}

.ContentInfoContainer {
    height: 100%;
    min-height: 30px;
    background-color: magenta;
}

.ContentHeader {
    height: 100%;
    min-height: 30px;
    background-color: darkslategray;
}

.ContentText {
    height: 100%;
    min-height: 30px;
    background-color: orange;
}

.ContentLink {
    height: 100%;
    min-height: 30px;
    background-color: palegreen;
}
/*/////////////// CONTENT ///////////////////*/
/*/////////////// SUBCONTENT ///////////////////*/

.SubContentContainer {
    width: 100%;
    min-height: 60px;
    background-color: purple;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MetadataContainer {
    height: 48px;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    background-color: palegreen;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes {
    height: 40px;
    width: 70px;
    background-color: orange;
}

.Date {
    height:30px;
    width: 120px;
    background-color: blue;
    margin-left: 15px;
}

.InfoIcon {
    height: 24px;
    width: 24px;
    background-color: aliceblue;
}
/*/////////////// SUBCONTENT ///////////////////*/
/*/////////////// FOOTER ///////////////////*/

.Footer {
    height: 48px;
    width: 100%;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfo {
    height: 36px;
    width: 140px;
    background-color: darkslategray;
}

.NextBTN {
    height: 24px;
    width: 24px;
    background-color: purple;
}
/*/////////////// FOOTER ///////////////////*/
/*/////////////// FOOTER1 ///////////////////*/

.Footer1 {
    height: 48px;
    width: 100%;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfo1 {
    height: 36px;
    width: 36px;
}

.NextBTN1 {
    height: 24px;
    width: 24px;
}
/*/////////////// FOOTER1 ///////////////////*/
/*/////////////// FOOTER2 ///////////////////*/

.Footer2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ExtraInfoContainer {
    display: flex;
    align-items: center;
}

.ExtraInfoIcon {
    height: 36px;
    width: 36px;
}

.ExtraInfoTxt {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

.NextBTN2 {
    height: 24px;
    width: 24px;
}
/*/////////////// FOOTER2 ///////////////////*/


.Separator {
    margin: 20px 0;
    width: 100%;
}