.SubContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

}

.Metadata {
    min-width: 100px;
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes {
    height: 40px;
    width: 40px;
}

.Date {
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    color: grey;
    margin-left: 15px;
}

.InfoIcon {
    height: 24px;
    width: 24px;
}