.SubContentContainer2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MetadataContainer2 {
    min-width: 100px;
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Likes2 {
    height: 40px;
    width: 40px;
}

.Date2 {
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    color: grey;
    margin-left: 15px;
}

.InfoIcon2 {
    height: 24px;
    width: 24px;
}